<section class="flex justify-between w-full">
    <div class="flex items-center text-white">
        <p class="mr-[52px] ml-5 text-[32px] header-logo">Recipe Book</p>
        <p class="mr-5 cursor-pointer font-semibold hover:text-primary"
           [routerLinkActive]="'text-primary'"
           [routerLinkActiveOptions]="{exact:true}"
           routerLink="recipe">Recipe</p>
        <p class="mr-5 cursor-pointer font-semibold hover:text-primary"
           routerLinkActive="text-primary"
           routerLink="shoppingList">Shopping List</p>
    </div>
    <div class="relative" appDropdown>
        <p class="mr-5 font-semibold cursor-pointer text-white hover:text-primary">Manage</p>
        <div class="show absolute top-[50%] right-0 glass-container glass-gray flip-color px-[8px] cursor-pointer text-white z-10 min-w-[150px]">
            <p class="glass-container border-none text-center !px-[12px] !py-[6px] mb-[8px] hover-action">Save Data</p>
            <p class="glass-container border-none text-center !px-[12px] !py-[6px] mb-[8px] hover-action">Fetch Data</p>
        </div>
    </div>
</section>
