.detail-container {
  overflow-x: hidden;
}


.image-display {
  display: none;
  // backdrop-filter: blur(6px);
  // transition: all 3s; 


    &.dispay-anim {
      display: flex;
      animation: dispay-anim  200ms;
    }
    

    .overlay-container  {
      position: absolute;
      width: 500px;
      inset: 0;
      backdrop-filter: blur(16px);
      // background-color: red; 
      transition: all 300ms;
      &:hover{
        // background-color: rgba(255,255,255,.1);
        mix-blend-mode: screen;
        background-size: 200%;
        backdrop-filter: blur(10px);
        transform: translateX(-210px);
        box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.25);
        background-color: rgba(#c3e1e7, 0.8);
      }
    }
}
.detail--image-container {
  height: 200px;
  width: 200px;
  
  background-color: transparent;
  border-radius: 50%;
  // box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.25);
  
  // backdrop-filter: blur(5px);
  position: relative;
}


@keyframes dispay-anim {
  from {
      transform: translateX(200px);
      // width: 0%;
  }
  to {
      transform: translateX(0);
      // width: 100%;
  }
}