<section class="flex glass-container border-l-high h-[calc(100dvh-286px)] border-none p-0">
    <div class="w-[60%] pl-[80px] py-[60px] text-white">
        <p class="font-semibold text-center">Name</p>
    </div>
    <div class="flex justify-center border-l-high items-center glass-container w-[40%] border-t-0 h-full">
        <div class="detail--image-container">
          <img src="./assets/images/rec1.webp" class="rounded-[50%] " alt="product Image" />     
        </div>
    </div>
</section>