<div class="wrapper">
    <p title="Result" class="text-1 self-center text-[16px]">Result</p>
    <p class="text-1 mt-3">
        <span title="Name:" class="text-1 mr-2">Name:</span>
        <span title="Name:" class="text-1">{{userData.name}}</span>
    </p>

    <p class="text-1">
        <span title="E-mail:" class="text-1 mr-2">E-mail:</span>
        <span title="Name:" class="text-1">{{userData.email}}</span>
    </p>

    <p class="text-1">
        <span title="Question:" class="text-1 mr-2">Question:</span>
        <span title="Name:" class="text-1">{{userData.queAns.question}}</span>
    </p>


    <p class="text-1">
        <span title="Answer:" class="text-1 mr-2">Answer:</span>
        <span title="Name:" class="text-1">{{userData.queAns.answer}}</span>
    </p>

    <div class="scroll-downs self-center">
      <div class="mousey">
        <div class="scroller"></div>
      </div>
    </div>
  </div>