$primary: #ff4081;

.main-container {
  width: 100dvw;
  height: 100dvh;
//   background: url('https://unsplash.it/1920/1080?random');
background: url(../assets/images/hh.jpeg);
  background-size: cover;
  background-color: rgba(0,0,0,.2);
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;


  .glass {
    width: 85dvw;
    height: 80dvh;
    border-top: 2px solid rgba(255,255,255,.4);
    border-left: 2px solid rgba(255,255,255,.4);
    outline: 1px solid rgba(255,255,255,.4);
    box-shadow: 8px 8px 32px rgba(0,0,0,.25);
    background: rgba(255,255,255,.2);
    border-radius: 20px;
    backdrop-filter: blur(5px);
  }
}   

.content-height {
  height: calc(100% - 64px);
}