<section>
  <div class="glass-btn relative inline-flex items-center justify-center text-sm font-medium cursor-pointer">
    <span>New Recipe</span>
  </div>

  <section class="mt-5">
    <div class="glass-container border-r-high">
      <div class="flex justify-between items-center text-white">
        <div>
          <p class="font-semibold">Name</p>
          <p class="text-[]">Description</p>
        </div>
        <div class="w-[50px] h-[50px] ">
          <img src="./assets/images/rec1.webp" class="rounded-[50%] recipe-img" alt="product Image">
        </div>
      </div>
    </div>
  </section>
<app-recipe-item></app-recipe-item>

</section>