.glass-container {
    padding: 16px;
    border-top: 2px solid rgba(255,255,255,.4);
    border-left: 2px solid rgba(255,255,255,.4);
    outline: 1px solid rgba(255,255,255,.4);
    background: rgba(255,255,255,.1);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    cursor: pointer;

    &.hover-action:hover, &.with-bg {
        // background: rgba(255,255,255,.2);
        background-image: linear-gradient(45deg, rgba(#f5f4f2, 0.5) 0%, rgba(#ff4081, 0.4) 74%, rgba(#f5f4f2, 0.4) 90%);
        mix-blend-mode: screen;
        background-size: 200%;
    }

    &.glass-gray.flip-color {
        background-image: linear-gradient(145deg, rgba(#f5f4f2, 0.5) 0%, rgba(66,142,159, .3) 74%, rgba(#f5f4f2, 0.4) 90%);
    }

    // .with-bg.145deg {
    //     background-image: linear-gradient(145deg, rgba(#f5f4f2, 0.5) 0%, rgba(#ff4081, 0.4) 74%, rgba(#f5f4f2, 0.4) 90%);
    // }

    &:hover, &.active-list {
        .recipe-img {
            transform: rotateZ(45deg);
            transform-style: preserve-3d;
            animation: rotate 4s linear infinite;
            box-shadow: 0px 0px 20px 5px rgba(#fff,1);
          }
    }
}

@keyframes rotate {
    100%{
        transform: rotateZ(180deg); 
        
    }
}


.glass-btn {
    min-width: 100px;
    padding: 0 20px;
    height: 40px;
    border-top: 2px solid rgba(255,255,255,.4);
    border-left: 2px solid rgba(255,255,255,.4);
    outline: 1px solid rgba(255,255,255,.4);
    box-shadow: 8px 8px 32px rgba(0,0,0,.25);
    background: rgba(255,255,255,.1);
    color: #fff;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    transition: all 250ms linear;

    &:hover {
        background-image: linear-gradient(45deg, rgba(#f5f4f2, 0.5) 0%, rgba(#ff4081, 0.4) 74%, rgba(#f5f4f2, 0.4) 90%);
        mix-blend-mode: screen;
        background-size: 100% !important;
    }
    &.delete:hover, &.warn-btn {
        background-image: linear-gradient(45deg, rgba(#f5f4f2, 0.5) 0%, rgba(#ff5900, 0.6) 74%, rgba(#f5f4f2, 0.4) 90%);
       
    }
    &.warn-btn, &.clear-btn {
        background-size: 200%;
    }
    &.clear:hover, &.clear-btn {
        background-image: linear-gradient(45deg, rgba(#f5f4f2, 0.5) 0%, rgba(#2600ff, 0.4) 74%, rgba(#f5f4f2, 0.4) 90%);
        
    }
  }


.border-l-high {
    border-radius: 60vh 8px 8px 60vh;
    // border-radius: 50%;
}

.border-r-high {
    border-radius: 8px 50px 50px 8px;
}

input,textarea {
    background-color: rgba(255,255,255,.1);
    color: white;
    &:focus-visible {
        outline-color: transparent;
    }
}

.parent {
    .show {
        display: none;
    }
}